.ActorButtons {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  // flex-direction: row;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
  align-items: center;
  // justify-content: center;
  gap: 0 0.5rem;

  .small-row {
    text-align: center;
    padding-bottom: 2px;
    font-size: 0.8rem;
    font-weight: 900;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
  }
  button {
    font-size: 1rem;
    padding: 0.25rem;
    aspect-ratio: 1/1;
    svg {
      top: 0;
      max-height: 16px;
      max-width: 16px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}