.ActorButtons {
  width: auto;
  border: none;
  table, tbody, tr, td {
    border-collapse: collapse;
    padding: 0;
  }
  td:last-child {
    width: 100%;
  }
  .small-row {
    td {
      text-align: center;
      padding-bottom: 2px;
      font-size: 0.8rem;
      font-weight: 900;
    }
  }

  button {
    font-size: 1rem;
    padding: 0.25rem;
    aspect-ratio: 1/1;
    svg {
      top: 0;
      max-height: 16px;
      max-width: 16px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}