.Controls {
  $bg: #F2EFDC;
  $bg-dark: darken($color: #F2EFDC, $amount: 50);
  $bg-light: #ffdd99;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background: $bg;
  padding: 0 1rem;
  border-right: 0.25rem solid $bg-dark;
  overflow: scroll;
  z-index: 30;

  .actors-list-section {
    & > button {
      margin-bottom: 1rem;
    }
  
    ul {
      padding-left: 0;
      border-top: 2px solid $bg-dark;
      li {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1.75rem max-content 1fr;
        grid-template-rows: min-content min-content;
        align-items: center;
        gap: 0.5rem;
        border-bottom: 2px solid $bg-dark;
        padding: .75rem 0 .5rem 0.25rem;
        border-left: 0.25rem solid $bg;
        &.is-current-turn {
          // background-color: red !important;
          border-left: 0.25rem $bg-dark solid;
        }

        &.init-breaker {
          position: relative;
          height: 0;
          max-height: 0;
          padding: 0;
          border-bottom: none;
          & > span {
            position: absolute;
            top: calc(50% - 0.35rem);
            left: 0;
            transform: translate(-50%, -50%);
            background-color: $bg;
            height: 1.5rem;
            min-height: 0;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5rem;
            z-index: 33;
            padding-left: 0.75rem;
            padding-right: 0.25rem;
          }
        }

        &:hover:not(.not-placed) {
          background: $bg-light;
          border-left: 0.25rem solid $bg-light;
        }

        &.empty {
          font-style: italic;
          gap: 0;
        }

        &.not-placed > *:not(.actor-buttons) {
          opacity: 0.5;
        }

        &.not-placed > .actor-buttons > .place button:not(:disabled) {
          opacity: 1 !important;
          border: 1px solid black;
        }

        .blob {
          display: block;
          height: 1.75rem;
          aspect-ratio: 1/1;
          border-radius: 1rem;
          border-width: 2px;
          border-color: transparent;
          border-style: solid;
        }

        .name {
          font-size: 1.5rem;
          font-weight: 800;
          font-variant: small-caps;
          letter-spacing: 1px;
        }

        small {
          // these 4 styles make the player name the same height as the character name without also making it float a few px off because the font is smaller. Height is keyed to font-size of .name
          display: flex;
          align-items: flex-end;
          height: 1.5rem;
          padding-bottom: 2px; //barf
        }
      }
    }
  }
}