.HPReadout {
  $bg: #F2EFDC;
  $bg-dark: darken($color: #F2EFDC, $amount: 50);
  $bg-light: #ffdd99;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 26px;
  min-height: 26px;
  position: relative;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    & > label {
      display: block;
      // height: 26px;
      // min-height: 26px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; //matches padding of parent
      text-align: center;
      font-weight: 900;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-bottom: 2px;

      span {
        position: relative;
        left: 3px;
        color: white;
      }

      input {
        background: transparent;
        border: none;
        text-align: right;
        width: 3rem;
        min-height: 24px;
        color: white;
        font-size: 1.25rem;
        outline: 2px solid transparent;
        padding-right: 0.25rem;
        padding-bottom: 2px;
        &:focus {
          outline: 2px solid white;
        }
      }
    }
    & > .backdrop {
      min-width: 5.75rem;
      height: 26px;
      min-height: 26px;
      background-color: #333;
      // margin-right: -0.5rem;
      & > .color {
        padding-right: 1rem;
        height: 26px;
        max-width: 100%;

        &.green {
          background-color: #07E034;
        }

        &.yellow {
          background-color: #E0AC07;
        }

        &.red {
          background-color: #E0001F;
        }
      }

    }
  }
}