.App {
  position: relative;
  $bg: #F2EFDC;
  $bg-dark: darken($color: #F2EFDC, $amount: 50);
  $bg-light: #ffdd99;

  * {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
  }

  svg {
    position: relative;
    top: 2px;
  }

  button,
  input[type="button"],
  input[type="submit"] {
    background: $bg;
    border: 1px solid $bg-dark;
    border-radius: 0;
    min-height: 1.5rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    display: block;

    &:hover {
      background-color: $bg-light;
    }
  }

  .canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 29;

    &.too-far {
      cursor:not-allowed;
    }
  }

  .effect-radius {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 29;
    border: 6px solid transparent;
    box-shadow: 0px 0px 4px 4px rgba(244, 244, 240, 0.6) inset;
    position: absolute;
  }

  .actor {
    position: absolute;
    z-index: 30;
    .actor-dot {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      z-index: 31;
      border: 6px solid transparent;
      box-shadow: 0px 0px 4px 4px rgba(244, 244, 240, 0.6) inset;
      &.highlighted {
        border: 2px solid rgba(244, 244, 240, 0.8);
        box-shadow: 0px 0px 6px 6px rgba(244, 244, 240, 0.6),
                    0px 0px 6px 8px rgba(244, 244, 240, 0.4),
                    0px 0px 4px 4px rgba(244, 244, 240, 0.6) inset;
      }
    }
    .radius {
      position: absolute;
      z-index: 28;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: radial-gradient(circle at center, transparent 0, rgba(0,0,255,0.8) 100%);
      opacity: 0.3;
    }
  }

  .line {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    transform-origin: 0% 50%;
    height: 4px;
    z-index: 27;
    background-color: pink;
  }

  .ghost {
    position: absolute;
    z-index: 32;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: radial-gradient(circle at center, transparent 0, rgba(255,255,255,0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      position: relative;
      top: -1.5rem;
      font-size: 1.5rem;
      font-weight: 800;
      font-variant: small-caps;
      letter-spacing: 1px;
      padding: 0.25rem 1.5rem;
      background: linear-gradient(90deg, transparent 0%, white 45%, white 55%, transparent 100%);
    }
  }

  .info {
    position: absolute;
    width: max-content;
    // height: 2rem;
    top: -4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 0.5rem;
    background-color: $bg;
    display: grid;
    border: 0.25rem solid $bg-dark;
    grid-template-columns: max-content 1fr;
    // grid-template-rows: min-content min-content;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid $bg-dark;
    padding: .5rem;
    z-index: 42;

    .name {
      font-size: 1.5rem;
      font-weight: 800;
      font-variant: small-caps;
      letter-spacing: 1px;
      margin: 0;
    }

    small {
      // these 4 styles make the player name the same height as the character name without also making it float a few px off because the font is smaller. Height is keyed to font-size of .name
      display: flex;
      align-items: flex-end;
      height: 1.5rem;
      padding-bottom: 2px; //barf
    }
    .on-top {
      top: 0;
      // left: 
    }
  }

  .information {
    position: fixed;
    // bottom: 5vh;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, 42vh);
    padding: 0.5rem 2vw;
    background: linear-gradient(90deg, transparent 0%, white 2vw, white calc(100% - 2vw), transparent 100%);
  }
}
